#main-giohang{
    width: 1200px;
    margin: auto;
    margin-top: 20px;
}
.cart, .customer-info{
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 20px 20px;
    background-color: #fff;
}

.cart{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.cart .cart-ten{
    font-size: 16px;
    color: #F7452E;
}

.cart-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
    margin-bottom: 20px;
}

.cart-item-hinhAnh{
    height: 60x;
    width: 60px;
}

.cart-item-hinhAnh img{
    border-radius: 5px;
}

.cart-item-ten,.cart-item-price, .cart-item-action-add-quantity, .cart-item-price-sum, .cart-item-action-delete{
    flex-basis: 15%;
    font-size: 14px;
    line-height: 18px;
    padding: 20px 20px;
}

.cart-item-ten{
    flex-grow: 1;
}

.cart-item-price{
    flex-basis: 20%;
}

.cart-item-price-origin .cart-item-price-sale{
    display: inline-block;
}

.cart-body .cart-item-price-origin {
    color: #F7452E;
    font-size: 12px;
    text-decoration: line-through;
}

.cart-item-price-sale{
    font-size: 14px;
    color: #333;
}

.cart-item i{
    color: #222;
    cursor: pointer;
}

.cart-item input{
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 2px;
}

.cart-item i:hover{
    color: #F7452E;
}

.cart-item-sum{
    border-top: 1px solid #ddd;
    padding: 0;
    margin-bottom: 0;
}

.cart-item-sum span{
    font-weight: 700;
    color: #F7452E;
}

/*chỉnh form*/

.customer-info .customer-info-ten{
    font-size: 16px;
    color: #F7452E;
}

.customer-info label,input{
    display: block;
    width: 100%;
    font-size: 14px;
}

.customer-info input{
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 5px;
    border-radius: 2px;
    outline: none;
}

.customer-info input:focus{
    border: 1px solid cornflowerblue;
}

.customer-info input:invalid{
    border: 1px solid red;
}

.customer-info label{
    margin-top: 20px;
}

.customer-info .btn{
    margin-top: 20px;
}
