#main-giohang{
    width: 1200px;
    margin: auto;
    margin-top: 40px;
}
.cart{
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 20px 20px;
    background-color: #fff;
}

.khungchuamua{
    width: 1200px;
    display: flex;
    justify-content: space-between;
}
.customer-info{
    width: 480px;
    height: fit-content;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 1px 3px 1px #ccc ;
    margin-top: 20px;
    margin-left: 50px;
}
.cart-title{
    text-align: center;
    margin-top: -10px;
    margin-bottom: -20px;
}
.customer-info .customer-info-ten{
    font-size: 16px;
    color: #F7452E;
}

.customer-info input{
    display: block;
    width: 90%;
    margin: auto;
    font-size: 14px;
}
.customer-info label{
    display: block;
    width: 90%;
    margin: auto;
    font-size: 16px;
    margin-left: 35px;
}
.customer-info input{
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 5px;
    border-radius: 2px;
    outline: none;
}

.customer-info input:focus{
    border: 1px solid cornflowerblue;
}

.customer-info input:invalid{
    border: 1px solid red;
}

.customer-info label{
    margin-top: 20px;
}


