*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.slider{
    max-width: 1200px;
    max-height: 500px;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    overflow: hidden;
}
.slider-item{
    text-align: center;
    height: 100%;
    width: 100%;
    display: none;
    cursor: pointer;
}
.nut-slider span{
    display: block;
    padding: 20px 10px;
    cursor: pointer;
    color: #fff;
    opacity: .6;
}
.nut-slider span:hover{
    opacity: 1;
}
#btn-prev{
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
}
#btn-prev .fas{
    font-size: 30px;
    line-height: 30px;
    opacity: .4;
}
#btn-next .fas{
    font-size: 30px;
    line-height: 30px;
    opacity: .4;
}
#btn-next{
    position: absolute;
    z-index: 3;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
}
#khungChamTron{
    width: 100%;
    text-align: center;
    position: absolute;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-top: -20px;
    margin-left: -50px;
}
.nut-cham-tron{
    width: 15px;
    height: 15px;
    background-color: #ccc;
    border-radius: 50%;
    margin-left: 5px;
    cursor: pointer;
    opacity: .2;
}
.nut-cham-tron:hover{
    background-color: #f53;
    opacity: .5;
}