*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(252, 239, 239);
}
img{
    width: 100%;
}
:root{
    --primary-color: #f7452e;
    --primary-dark-color: #c53724;
    --primary-light-color: #f86a57;
    --dark-color: #222;
    --light-color: #fff;
}
#header{
    width: 100%;
    height: 200px;
    background-image: linear-gradient(0, #fe6433, #f53e2d );
}
.navbartren{
    display: flex;
    justify-content: space-between;
}
.noidung-navbar-tren-trai{
    list-style: none;
    padding-left: 0;
    z-index: 333;
}
.nd1{
    display: inline-block;
    margin: 10px 10px 0px;
    position: relative; 
    cursor: pointer;
}
.nd1 a{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
}
.nd1 a:hover{
    color: rgb(6, 88, 88);
    position: relative;
    font-weight: 400;
}
.phancachchedoc::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FFFFE0;
    height: 14px;
    right: -12px;
    top: 50%;
    transform: translateY(-50%);

}
.fab{
    margin-left: 5px;
}
.fas, .far{
    margin-right: 5px;
}
/*Thông báo hiện lên của Tải ứng dụng*/
.qrcode{
    background-color: white;
    width: 168px;
    position: absolute;
    left: 0;
    top: 90%;
    margin-top: 10px;
    padding: 8px;
    border-radius: 2px;
    display: none;
    cursor: pointer;    
    animation: fadeIn ease-in 0.4s;
}
.qrcode::before{
    content: "";
    border: 20px solid white;
    border-color: transparent transparent white transparent;
    position: absolute;
    left: 12px;
    top: -30px;
}
.qrcode img{
    width: 100%;
    border: none;
    margin-top: -8px;
}
.qrcode_ap{
    display: flex;
    justify-content: space-between;
}
.qrcode_ap_link img{
    height: 16px;
    border: none;
}
.qrcode_ap_link:nth-child(1){
    margin-left: 5px;
    margin-top: -5px;
}
.qrcode_ap_link:nth-child(2){
    margin-right: 5px;
    margin-top: -7px;
}
.hiennd:hover .qrcode{
    display: block;
}
/*Thông báo hiện lên của thông báo*/
.thongbao{
    width: 250px;
    background-color: white;
    margin-left: -150px;
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 10px;
    padding: 8px;
    border-radius: 4px;
    display: none;
    transform-origin: 90% top;
    animation: fadeInPhong ease-in 0.3s;
    will-change: opacity, transform;
    z-index: 40;
}
.thongbao::before{
    content: "";
    border: 20px solid white;
    border-color: transparent transparent white transparent;
    position: absolute;
    right: 10px;
    top: -30px;
}
@keyframes thongbaohien{
    from{
        transform: scale(0);
    }
    from{
        transform: scale(1);
    }
    
}

.thongbao-hinhanh{
    width: 150px;
    margin-top: -15px;
    margin-left: 45px;
}
.thongbao-hinhanh img{
    width: 150px;
    border: none;
}
.dangki{
    width: 50%;
    float: left;
    background-color: silver;
    border-right: 1px solid snow;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.dangnhap{
    width: 50%;
    float: left;
    background-color: silver;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.hiennd:hover .thongbao{
    display: block;
}
/**/
#noidung-header{
    max-width: 1200px;
    margin: auto;

}

.header-logo{
    width: 150px;
    float: left;
    margin-top: 10px;
    margin-left: 30px;
}
.header-logo img{
    width: 100%;
    border: none;
    border-radius: 10px;
}
.header-logo img:hover{
    transform: scale(1.1);
}
.header-giua{
    width: 900px;
    float: left;
}
#noidung-header .header-muahang{
    float: right;
    margin-right: -50px;
    margin-top: -35px;
}
.header-muahang .fas{
    font-size: 25px;
}
.header-muahang .fas:hover{
    transform: scale(1.1);
}
/*=======TÌM KIẾM=============*/
.timkiem{
    width: 750px;
    background-color: white;
    margin-top: 20px;
    height: 40px;
    margin-left: 70px;
    border-radius: 4px;
    display: flex; 
}
.timkiem .khung-tim-kiem{
    position: relative;
}
.noidung-timkiem{
    width: 650px;
    height: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    color: silver;
    margin-left: 10px;
    border-right: 1px solid silver;
}
.btntimkiemchon{
    width: 120px;
    margin-left: -100px; 
    border: none;
    cursor: pointer;    
}
/*======LỊCH SỬ TÌM KIẾM============*/
.lichsu-timkiem{
    position: absolute;
    top: calc(100%-2px);
    left: 0;
    width: 500px;
    background-color: #ddd;
    border-radius: 3px;
    box-shadow: 0 1px 3px #666;
}
.timkiemtrong-select{
    max-width: 300px;
    margin-left: 5px;
    position: relative;
    margin-top: 10px;
    z-index: 3;
}
.timkiemtrong-select span{
    color: rgb(22, 21, 21);
    text-decoration: none;
    margin-top: 10px;
}
.timkiemtrong-select .fas{
    color: black;
    margin-top: 10px;
    margin-left: 10px;
}
.btn-timkiem{
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 3px;
    margin-top: 3px;
    margin-right: 3px;
    margin-left: 20px;
}
.timkiem-option li{
    list-style: none;
}
.timkiem-option{
    width: 120px;
    background-color: #ddd;
    position: absolute;
    right: 0;
    top: 100%;
    box-shadow: 0 0 3px #ccc;
    padding-left: 0;
    border-radius: 3px;
    display: none;
}
.timkiem-option::after{
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    top: -10px;
    left: 0;
}
.timkiemtrong-select .timkiem-option:hover{
    cursor: pointer;
    background-color: #fafafa;
}
.timkiem-option .timkiemitem{
    border-radius: 3px;
    padding: 8px 8px;
}
.timkiemtrong-select:hover .timkiem-option{
    display: block;
}
.timkiem-option .timkiemitem span{
    font-size: 14px;
    color: rgb(22, 21, 21);
}
.timkiemitem span:hover{
    color: var(--primary-color);
}
.timkiem-option .timkiemitem i{
    font-size: 12px;
    color: rgb(241, 70, 70);
    margin: 0 4px 0 12px;
}
.btn-timkiem:hover{
    cursor: pointer;
    background-color: rgb(216, 78, 78);

}
.btn-timkiemlg{
    font-size: 14px;
    color: #ddd;
    margin-left: 8px;
}
.btntimkiemchon{
    width: 100px;
    background-color: #fff;
}
.btntimkiemchon .in1{
    height: 40px;
    width: 100%;
    border-radius: 4px;
}
/*=========LỊCH SỬ===========*/
.timkiem_lichsu{
    position: absolute;
    width: 550px;
    top: 100%;
    margin-top: -493px;
    background-color: #fff;
    z-index: 8;
    border-radius: 4px;
    box-shadow: 0px 1px 5px #ccc;
    display: none;
}
.timkiem_lichsu_head{
    color: #ccc;
    font-weight: normal;
    font-size: 16px;
    margin-left: 10px;
    line-height: 30px;
}
.timkiem_lichsu__danhsach{
    line-height: 35px;
    font-size: 16px;
    cursor: pointer;
}
.timkiem_lichsu__danhsach a{
    margin-left: 10px;
    color: #222;
}
.timkiem_lichsu__danhsach:hover{
    background-color: #ccc;
}
.timkiem_lichsu__danhsach:first-child:hover{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.timkiem_lichsu__danhsach:last-child:hover{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.noidung-timkiem:focus ~ .timkiem_lichsu{
    display: block;

}
/*=========NAV BAR===========*/
#nav-bar{
    display: flex;
    justify-content: space-between;
}
#nav-bar li{
    list-style: none;
    text-decoration: none;
}
.menu{
    margin-top: 20px;
}
.menu-lv1{
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.item-lv1{
    padding: 16px 30px;
}

.item-lv1 a,i{
    color: var(--light-color);
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}

.item-lv1:hover{
    background-color: var(--primary-dark-color);
}
.item-lv1:hover .menu-lv2{
    display: block;
}

.item-lv1:last-child{
    margin-left: auto;
}

/*MENULV2*/
.menu-lv2{
    border: 2px solid #ddd;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #ddd;
    position: absolute;
    background-color: var(--primary-color);
    top: 150px;
    margin-top: 50px;
    display: none;
    z-index: 33;
    animation: fadeIn ease-in 0.4s;
}

.menu-lv2 a{
    color: var(--dark-color);
}
.menu-lv2 .item-lv2{
    padding: 10px 20px;
}
.menu-lv2 .item-lv2:hover{
    background-color: var(--primary-color);
    text-decoration: underline;
}
.menu-lv2 .item-lv2:first-child:hover{
    background-color: var(--primary-color);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-decoration: underline;
}
.menu-lv2 .item-lv2:last-child:hover{
    background-color: var(--primary-color);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    text-decoration: underline;
}
.nhacnho{
    font-size: 14px;
    text-align: center;
    color: var(--primary-color);
    margin-top: -5px;
    padding-bottom: 5px;
}
/*=========SLIDER===========*/
.slider{
    width: 1200px;
    height: 600px;
    margin: auto;
    margin-top: 10px;
    position: relative;
}

/*==========MAIN==============*/
#main{
    width: 1200px;
    margin: 0 auto;
    display: flex;
}
#danh-muc{
    width: 200px;
    height: fit-content;
    margin-top: 20px;
    align-items: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    justify-content: space-between;
}
.menudanhmuc{   
    width: 100%;
    height: 283px;
    border: 1px solid #ccc;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #fff;
}
.tieude{
    width: 100%;    
    border-bottom: 1px solid #ccc;
    color: white;
    font-size: 16px;
    line-height: 50px;
    font-weight: 600;
    background-image: linear-gradient(0, #fe6433, #f53e2d );
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    justify-content: space-between;
}
.tieude1{
    margin-left: 15px;
}
.itm1{
    width: 100%;
    height: 40px;
    list-style: none;
}
.itm1 a{
    text-decoration: none;
    width: 100%;
    height: 20px;
    color: var(--primary-color);
}
.item-danhmuc .fas{
    color: var(--primary-color);
}
.item-danhmuc{
    margin-left: 26px;
    line-height: 40px;
}
.item-danhmuc2{
    margin-left: 40px;
    line-height: 40px;
}
.itm1:hover{
    background-color: #ccc;
    cursor: pointer;
}
.itm1:last-child:hover{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;    
    background-color: #ccc;
    cursor: pointer;
}
.tieude .fas{
    align-items: center;
    margin-left: 20px;
}
.tieude2{
    width: 100%;
    height: 50px;
    color: white;
    font-size: 16px;
    line-height: 50px;
    font-weight: 600;
    background-image: linear-gradient(0, #fe6433, #f53e2d );
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    justify-content: space-between;
    margin-top: 30px;
}
.mucdeban{
    color: var(--primary-color);
    margin-left: 15px;
    margin-top: 15px;
    font-weight: bold;
    padding-bottom: 10px;
}
.bolocTimkiem{
    margin-top: 20px;
}

.menudanhmuc2{   
    width: 100%;
    height: 245px;
    border: 1px solid #ccc;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #fff;
}
.menudanhmuc3{   
    width: 100%;
    height: 245px;
    border: 1px solid #ccc;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #fff;
    margin-top: 5px;
}
.khunggiamua{
    margin-top: 20px;
}
.luachongia{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.theThap, .theCao{
    width: 90px;
    height: 30px;
    margin-top: 15px;
    font-size: 14px;
}
.nganGiua{
    width: 10px;
    height: 30px;
    border-bottom: 1px solid #ccc;
}
.apdung{
    width: 180px;
    height: 40px;
    background-color: #ccc;
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.apdung:hover{
    background-color: var(--primary-color);
}



/*==================SẢN PHẨM===========*/
.khungphan-sanpham{
    width: 980px;
    margin-top: 20px;
    margin-left: 20px;
}
/*Khung lọc sản phẩm*/
.khungloc-sanpham{
    width: 100%;
    height: 50px;
    background-image: linear-gradient(0, #fe6433, #f53e2d );
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 3px;
}
.hom-filter_page{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.hom-filter_page-num{
    font-size: 14px;
    color: #222;
    margin-right: 20px;
}
.tranghtai{
    color: #fff;
}
.control{
    border-radius: 3px;
    overflow: hidden;
    width: 72px;
    height: 36px;
    display: flex;
}
.nutdieuhuong{
    flex: 1;
    display: flex;
    background-color: #fff;
    text-decoration: none;
}
.nutdieuhuong:first-child{
    border: 1px solid #eee;
    background-color: #e7e5e5;
    cursor: default;
}
.page-icon{
    margin: auto;
    font-size: 14px;
    color: #555;
}
.nbtnn{
    min-width: 90px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 15px;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 16px;
    background-color: #fe6433;
}
.nbtnn:hover{
    background-color: #fff;
}
.khungloc-sanpham span{
    margin-left: 5px;
}
.active{
    background-color: #fff;
}
.select-input .fas{
    color: rgb(22, 21, 21);
}
.control .fas{
    color: rgb(22, 21, 21);
}
.label{
    max-width: 100px;
    font-size: 14px;
    color: #fff;
    margin-right: 16px;
    text-decoration: underline;
}
.htbl{
    margin-right: 12px;
}
.select-input{
    min-width: 120px;
    background-color: #fff;
    height: 34px;
    padding: 0 12px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.select-input_label{
    min-width: 200px;
    font-size: 14px;
}
.select-input_icon{
    font-size: 14px;
    color: rgb(131, 131, 131);
    position: relative;
    top: 1px;
    cursor: pointer;
}

/*Khung giá*/
.select-input_list{
    position: absolute;
    left: 0;
    right: 0;
    top: 35px;
    border-radius: 3px;
    background-color: #fff;
    list-style: none;
    padding: 10px 16px;
    display: none;
}
.select-input:hover .select-input_list{
    display: block;
}
.select-input_link{
    text-decoration: none;
    font-size: 14px;
    display: block;
    padding: 5px 0;
    color: rgb(22, 21, 21);
    margin-left: 20px;
}
.select-input_link:hover{
    color: var(--primary-color);
}


/**/

/*danh sách sản phẩm*/
#products{
    width: 100%;
    min-height: 500px;
}
#products .items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: -20px;    
}
#products .items .item{
    border: 1px solid #ddd;
    box-shadow: 1px 2px 4px #ddd;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    display: block;
    cursor: pointer;
    transition: transform linear 0.1s;
}
#products .items .item:hover{
    transform: translateY(-2px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}
#products .items .item .item-hinhAnh{
    width: 20%;
    height: 200px;
}
#products .items .item .item-hinhAnh img{
    height: 100%;
    margin: auto;
    border: none;
    cursor: pointer;
}
#products .items .item .item-ten{
    font-size: 20px;
    line-height: 30px;
    margin: 10px 0;
    text-align: center;
}
#products .items .item .item-gia{
    margin-bottom: 10px;
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    letter-spacing: -0.5px;
}
#products .items .item .item-gia .item-gia-goc{
    font-size: 14px;
    text-decoration: line-through;
    color: #666;
    margin-left: -10px;
}
#products .items .item .item-gia .item-gia-ban{
    font-size: 16px;
    color: var(--primary-color);
    margin-left: 10px;
}
#products .items .item .btn{
    margin: auto;
    display: block;    
    cursor: pointer;
}
.items .item .item-khuVuc{
    display: flex;
    justify-content: space-between;
    margin: 5px 10px;
}

i.item-khuVuc-like-fill{
    color: var(--primary-color);
    display: none;
    cursor: pointer;    
}
.item-khuVuc-like--like .item-khuVuc-like-fill{
    display: inline-block;
}
.item-khuVuc-like--like .item-khuVuc-like-fill:hover{
    transform: scale(1.3);
}
.item-khuVuc-like--like .item-khuVuc-like-empty{
    display: none;
}
.item-kV{
    color: #666;
}
.btn{
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}
.btn-primary{
    background-color: var(--primary-color);
    color: var(--light-color);
}
.btn-primary:hover{
    background-color: var(--primary-dark-color);
}
.zoom {
    padding: 0px;
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  
.zoom:hover {
    transform: scale(1.1); /* (110% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.item .item-phanTramGiamGia{
    position: absolute;
    margin-top: -320px;
    margin-left: 167px;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 216, 64, 0.9);
    text-align: center;
    cursor: pointer;
    border-top-right-radius: 4px;
}
.item .item-phanTramGiamGia::after{
    content: '';
    position: absolute;
    margin-top: 3px;
    margin-left: -20px;
    border-width: 0 20px 6px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, .7) transparent rgba(255, 216, 64, .7);
}
.giamGiaPhanTram{
    color: red;
    font-weight: bold;
    font-size: 15px;
    line-height: 17px;
    margin-top: 3px;
}
.giamGiaPhanTram_Sale{
    color: #222;
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    letter-spacing: -1px;
    margin-top: 2px;
}
.item .item-phanTramGiamGia:hover{
    transform: scale(1.1);
}
.item-tenShopSale{
    position: absolute;
    margin-top: -319px;
    margin-left: -29px;
    background-color: var(--primary-color);
    width: 87px;
    height: 20px;
    color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.item-tenShopSale::after{
    content: "";
    border-width: 0 8px 10px;
    margin-left: -90px;
    margin-top: 27px;
    border-style: solid;
    border-color: transparent var(--primary-color) transparent transparent;

}
.logoNen{
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
.tenShop_Sale{
    margin-left: 5px;
    margin-top: 2px;
}
/*===========FOOTER===========*/
#footer{
    width: 100%;
    margin-top: 30px;
    display: inline-block;
    background-image: linear-gradient(0, #fe6433, #f53e2d );
}
#footer .footer_noiDung{
    width: 1200px;
    margin: auto;
    border-top: 1px solid blue;
    border-bottom: 1px solid rgb(252, 251, 251);
    display: flex;
    justify-content: space-between;
}
.footer_noiDung_nd1{
    width: 180px;
}
.footer_noiDung_header{
    color: #FFF;
    text-align: center;
    margin-top: 40px;
    font-size: 11px;
    line-height: 16px;
}
.footer_noiDung_header img{
    border-radius: 5px;
    margin-top: -20px;
}
.footer_noiDung_nd2{
    width: 250px;
}
.footer_noiDung_nd3{
    width: 220px;
}
.footer_noiDung_nd3a{
    height: 150px;
}
.footer_noiDung_nd4{
    width: 190px;
}
.footer_noiDung_nd5{
    width: 250px;
    margin-left: 10px;
}

.chamsoc_noidung{
    list-style: none;
    margin-top: 6px;
    color: whitesmoke;
    cursor: pointer;
    font-size: 14px;
}
.ndcskh{
    line-height: 30px;
}
.ndcskh:hover{
    color: yellow;
}
.shopsale_noidung{
    list-style: none;
    margin-top: 6px;
    margin-left: 70px;
    color: #f5f5f5;
    cursor: pointer;
    font-size: 14px;
}
.theodoi_noidung{
    list-style: none;
    margin-left: 30px;
    margin-top: 6px;
    color: #f5f5f5;
    cursor: pointer;
}
.qrtai{
    width: 80px;
    height: 80px;
    border: 2px solid orange;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}
.lienketcungqr{
    width: 120px;
    float: right;
    margin-top: -70px;
    margin-right: 10px;
}
.cacnganhang{
    width: 100%;
    display: block;
}
.cacnganhg{
    width: 70px;
    height: 50px;
    margin-top: 15px;
    padding: 0px 5px;
    float: left;
    border-radius: 5px;
    cursor: pointer;
}
.cacnganhg:hover{
    transform: scale(1.1);
}
.noidung2{
    width: 1200px;
    margin: auto;
    border-bottom: 1px solid #fff;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 16px;
    color: #fff;
}
.nuoc:hover{
    color: orange;
    cursor: pointer;
}
.diachishop{
    width: 1200px;
    margin: auto;
    text-align: center;
    line-height: 30px;
    color: #f5f5f5;
}
/*========DANH MỤC ==========*/














/*======Hiển thị đăng kí đăng nhập=======*/
.hienThiDkDn{
    position: fixed;
    width: 100vw;
    height: 100vh;
    animation: fadeIn linear 0.4s;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;    
    background-color: rgb(0,0,0,0.4);
}
.hienThiDkDnh{
    position: fixed;
    width: 100vw;
    height: 100vh;
    animation: fadeIn linear 0.4s;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;    
    background-color: rgb(0,0,0,0.4);
}
.hienThiDkDn__body{
    --growth-from: 0.7;
    --growth-to: 1;
    background-color: white;
    margin: auto;
    position: relative;
    border-radius: 5px;
    z-index: 1;
    overflow: hidden;
    animation: growth linear 0.2s;
}
.khung_inner{
    width: 500px;
}
.khunginner__noidung{
    padding: 0 30px;
}
.khung_inner_tren{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 20px;
}
.heading_inner{
    font-size: 22px;
    font-weight: 400;
    color: black;
}
.heading_inner .hienThiDkDn{
    display: block;
}
.chuyenDn{
    font-size: 16px;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}
.khunginner__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #bdbdbd;
    outline: none;
}
.khunginner__input:focus{
    border-color: #888;
}
.khunginner_phan3{
    margin-top: 30px;
}
.chuChinhSachText{
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}
.LinkDieuKhoan{
    color: var(--primary-color);
}
.nutDieuKhien{
    margin-top: 80px;
    padding-bottom: 20px;
    margin-left: 150px;
}
.bttrtn{
    min-width: 140px;
    height: 36px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    text-align: center;
}
.bttrtn:hover{
    background-color:rgba(0, 0, 0, 0.05);
}
.btn-chinh{
    min-width: 140px;
    height: 36px;
    background-color: var(--primary-light-color);
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--primary-light-color);
    outline: none; 
    text-align: center;
    color: #fff;
}
.btn-chinh:hover{
    background-color: var(--primary-dark-color);
}
.khungMxh{
    width: 100%;
    height: 42px;
    background-color: #f5f5f5;
    display: flex;
}
.mxhKhung{
    width: 230px;
    height: 35px;
    margin-left: 12px;
    cursor: pointer;
    margin-top: 3px;
    box-shadow: 5px;
    opacity: 0.7;
}
.mxhKhung:hover{
    opacity: 1;
}
.quenMk{
    display: flex;
    justify-content: space-between;
}
.quenMkLink{
    color: var(--primary-color);
}
.quenMkLink:hover{
    text-decoration: underline;
}
.quenMkLink2:hover{
    text-decoration: underline;
}
#main-giohang{
    width: 1200px;
}